<%- include('navbar')%>
<%- include('style')%>

<div style="text-align:center; margin-top:10%">
<h2 > Welcome to Teacher Management App </h2>
<h3> use the navigation bar above to browse!</h3>
<table style="margin:auto; padding: 5px">
    <tr>
        <th> Link Name</th>
        <td> Description </td>
    </tr>
    <tr>
        <th> Students</th>
        <td> List of students </td>
    </tr>
    <tr>
        <th> Teachers</th>
        <td> List of teachers </td>
    </tr>
    <tr>
        <th> Subjects</th>
        <td> List of subjects </td>
    </tr>
</table>
</div>

<%- include('footer') %>

