<%- include('header') %>
<%- include('style')%>
<p> Hello welcome to Teacher Management App</p>
<form>
    <button type="submit" formaction="/login" formmethod ="get"> Login </button> <button type="submit" formaction="/register" formmethod="get"> Register </button>
</form>
<%- include('footer') %>
