<div class="navbar">
    <ul>
        <li> <a href="/home" style="text-decoration: none; color:white">Teacher Management App</a></li>
        <li><a href="/students" style="text-decoration: none; color:white">Students</a></li>
        <li><a href="/teachers" style="text-decoration: none; color:white">Teachers</a></li>
        <li><a href="/subjects" style="text-decoration: none; color:white">Subjects</a></li>
        <li style="object-position:right"> <a href="/logout" style="text-decoration: none; color:white">logout</a></li>
    </ul>
</div>